<?xml version="1.0"?>
<configuration>



  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HicapsConnectClient12.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"/>
  </system.net>
  <userSettings>
    <HicapsConnectClient12.Properties.Settings>
      <setting name="LastTerminal" serializeAs="String">
        <value/>
      </setting>
      <setting name="LoggingEnabled" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="PrintClaimReceipt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintEftposReceipt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SyncTransactions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PromptEftposReceipt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintReceiptCancelClaim" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstAccess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApiBaseAddress" serializeAs="String">
        <value>http://www.hicapsconnect.com.au</value>
      </setting>
      <setting name="ApiItemsPath" serializeAs="String">
        <value>api/items</value>
      </setting>
      <setting name="PrintCustomerClaimReceiptLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClaimToSale" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseApi" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SiteName" serializeAs="String">
        <value/>
      </setting>
      <setting name="SiteAddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="SitePhone" serializeAs="String">
        <value/>
      </setting>
      <setting name="SiteFax" serializeAs="String">
        <value/>
      </setting>
      <setting name="SiteEmail" serializeAs="String">
        <value/>
      </setting>
      <setting name="PrintQuoteReceiptLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintProviderClaimReceiptLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintProviderCancelReceiptLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintCustomerCancelReceiptLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAnyItemNumber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnablePrice" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClaimToSalePrompt" serializeAs="String">
        <value>True</value>
      </setting>
    </HicapsConnectClient12.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
